body{
  margin: 0;
  border: 0;
  width: 100%;
}

#footer {
  background-color: #5c755e;
  height: 60px;
  clear: both;
  color: #efe5d0;
  text-align: center;
  padding: 15px;
  font-size: 90%;;
}

#footer ul{
  padding: 5px;
  list-style-type: none;
  text-align: center;
  margin: 10px;
  border-radius: 5px;

}

#footer ul li{
  display: inline;

}

#footer ul li a{
  text-decoration: none;
  font-family: Arial;
  padding: .2em 1em;
  color: #fff;

}

#footer ul li a:hover{
  color: #000;
  background-color: #fff;

}

.top-sec{
  width: 100%;
  display: inline-block;

}

.column1{
  display: inline-block;
  width: 40%;
  margin: 0;
  padding: 0;
  text-align: right;
}

.column2{
  width: 40%;
  float: right;
  margin: 0;
  padding: 0;
  clear: both;
}

.column2 img{
  width: 50%;
}

.main{
  display: inline-block;
  background-color: #e5e4d7;
  padding: 20px;
  font-size: 110%;
}


h3{

  text-align: center;
  color: #e5e4d7;
  font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
  margin: 0;
  position: relative;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50px);
  transform: translateY(50%);
}

h2{
  text-align: center;
  font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
  margin: 0;
  position: relative;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50px);
  transform: translateY(50%);
}

.active {
  background-color: #4CAF50;
  color: white;
}

.background{
  background-color: #1ab265;
}

.small-background{
  background-color: #5d6e80;
  color: white;
}
